<div class="div">
    <div class="div-2">
      <div class="div-3">
        <div class="column">
          <div class="div-4"><div class="div-5"></div></div>
        </div>
        <div class="column-2">
          <div class="div-6">
            <div class="div-7">
              <div class="div-8">Risk it huhh??</div>
              <div class="div-9">Analyse</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .div {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .div-2 {
      justify-content: center;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-2 {
        max-width: 100%;
      }
    }
    .div-3 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-3 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .div-4 {
      justify-content: center;
      align-items: center;
      align-self: stretch;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 100%;
      padding: 50px 60px;
    }
    @media (max-width: 991px) {
      .div-4 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-5 {
      border-radius: 54px;
      background-color: #d9d9d9;
      display: flex;
      width: 359px;
      max-width: 100%;
      height: 498px;
      flex-direction: column;
      margin: 211px 0 159px;
    }
    @media (max-width: 991px) {
      .div-5 {
        margin: 40px 0;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .div-6 {
      align-self: stretch;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 50px 60px;
    }
    @media (max-width: 991px) {
      .div-6 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-7 {
      display: flex;
      width: 435px;
      max-width: 100%;
      flex-direction: column;
      align-items: end;
      margin: 270px 0 210px;
    }
    @media (max-width: 991px) {
      .div-7 {
        margin: 40px 0;
      }
    }
    .div-8 {
      color: #000;
      text-align: center;
      letter-spacing: 0.2px;
      margin-right: 14px;
      white-space: nowrap;
      font: italic 600 60px Roboto, sans-serif;
    }
    @media (max-width: 991px) {
      .div-8 {
        margin-right: 10px;
        font-size: 40px;
        white-space: initial;
      }
    }
    .div-9 {
      color: #000;
      text-align: center;
      letter-spacing: 0.2px;
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background-color: #e4a4a4;
      align-self: stretch;
      margin-top: 201px;
      padding: 24px 60px;
      font: 400 60px Roboto, sans-serif;
    }
    @media (max-width: 991px) {
      .div-9 {
        font-size: 40px;
        white-space: initial;
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
      }
    }
  </style>